<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ordesk.ordesk_vivino">

    <application
        android:name="net.ordesk.ordesk_vivino.projectGlobals"
        android:allowBackup="true"
        android:icon="@mipmap/vivinologodark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_order_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".pay_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pay_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".welcome_info"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_info"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>