<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ordesk.ordesk_vivino">

    <application
        android:name=".projectGlobals"
        android:lockTaskMode="always"
        android:allowBackup="true"
        android:icon="@mipmap/kg0logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>-->
        <activity
            android:name=".welcome_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_order_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".order_screen_pilot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="order_screen_pilot"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".welcome_info_pilot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="welcome_info_pilot"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".play_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="play_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".feedback_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="feedback_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".membership_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="membership_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".pay_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pay_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".welcome_info"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_info"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".old_order_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_old_order_screen"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>